<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header><% include ./common/header %></header>
    <div class="container">
        <h3>Login page</h3>
      <form class="form-horizontal">
        
        <div class="form-group ">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-6">          
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
          </div>

          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Login</button>
              </div>
            </div>


        </form>
  </div>

  <footer><% include ./common/footer %></footer>
</body>
</html>