
 
    <nav class="navbar navbar-default" style="position:absolute;bottom:0px;" role="navigation">
            <div class="container-fluid">
            
                Node application .footer &copy copy right 2019 
            
            </div>
            </nav>